.footer{
    display: block ;
    background-color: rebeccapurple;
    justify-content: center ;
    align-items: center ;
    padding: 10px 12px ;
    text-align: center;
   margin-top: 20px;
   font-weight: 200;
   font-size: 30px;

}