doctype html
html
  head
    title= title
    link(rel='stylesheet', href='dist/simple.css')
  body
    h1= message
    .container i'm the container
    .row
    .col-md-4 hello mohamed
    .col-md-4 hello ahmed
    .col-md-4 hello marwan
    .row
    .col-md-4 hello mohamed
    .col-md-4 hello ahmed
    .col-md-4 hello marwan
    .row
    .col-md-4 hello mohamed
    .col-md-4 hello ahmed
    .col-md-4 hello marwan
    .row
    .col-md-4 hello mohamed
    .col-md-4 hello ahmed
    .col-md-4 hello marwan
    .row
    .col-md-4 hello mohamed
    .col-md-4 hello ahmed
    .col-md-4 hello shika

.footer i'm the footer
#one me one
#two me two
script (src="dist/js/allJsCode.js")


