doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= message
    .container i'm the container
    .row
    .col-md-4 hello mohamed
    .col-md-4 hello ahmed
    .col-md-4 hello marwan
